<div class="navbar" *ngIf="linksAdmin">
    <div class="menu">
        <nav>
            <div class="link">
                <a routerLink="../../groups/all">
                    <img src="../../assets/img/comunity.png" class="imgNav">
                    <span class="document-arrow-span">Мои <br> группы
                    </span>
                </a>
            </div>
            <div class="link">
                <a routerLink="../../my-budget/my-budget">
                    <img src="../../assets/img/budget.png" class="imgNav">
                    <p class="document-arrow-span autoTop">Мой бюджет
                    </p>
                </a>
            </div>
            <div class="link">
                <a routerLink="../../group/management">
                    <img src="../../assets/img/setting.png" class="imgNav">
                    <p class="document-arrow-span autoTop"> Управление группами
                    </p>
                </a>
            </div>
        </nav>
    </div>
</div>
