header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.image.first, .image.second {
    margin: 0;
    padding: 0;
}

.image.first {
    opacity: 1px;
    display: block;
    position: absolute;

    z-index: 100;
    transition-duration: 0.96s;
    -webkit-transition-duration: 0.96s;
    -moz-transition-duration: 0.96s;
    -o-transition-duration: 0.96s;
    -ms-transition-duration: 0.96s;
}

.image.first:hover {
    opacity: 0.00;
}

div.ImgField {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}


.imgHeader {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.headerIzhitsa {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 0px;
}

.bgBlue {
    background-color: #1155cc;
    border-radius: 4px;
}

.nav-link {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0 11px;
}

.container-fluid {
    padding: 0 20px;
}

.pendingHeader {
    margin-bottom: 0;
}

nav {
    padding-left: 5vw;
    padding-right: 5vw;
}

.active {
    color: white;
    border-bottom: 1px solid white;
}

.nav-item a {
    padding-bottom: 0;
    margin-bottom: 0.7rem;
}

.linkNameCompany {
    cursor: pointer;
}

.svgColor {
    color: white;
}

.navLinkRight {
    font-size: 15px;
    white-space: nowrap;
}

.sign-in-icon {
    max-width: 24px;
    height: auto;
}

@media (max-width: 1500px) {
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1270.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (min-width: 1131px) and (max-width: 1250.98px) {
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        margin-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1100.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
    }
}
